# Virtualenv
.venv/
venv/
ENV/
env/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
checkpoints/

# Ignore the test interface project
test_interface_javascript/
test_interface_javascript.zip
test_interface_javascript.zip
